
$color-text: #fe5281;
$color-text-emphasized: darken($color-text, 10%);

$color-borders: rgb(218, 218, 218);

$color-background-primary: #ff3369;
$color-background-secondary: #f1f5f9;
$color-background-secondary-darker: darken($color-background-secondary, 10%);